[Unit]
Description=Keep track of media player activity
Documentation=man:playerctld(1)

[Service]
Type=dbus
BusName=org.mpris.MediaPlayer2.playerctld
ExecStart=/usr/bin/playerctld
Restart=on-failure

[Install]
WantedBy=default.target
