[Desktop Entry]
Type=Application
Name=QR Code Scanner [Super+Shift+F5]
Comment=Capture and scan QR code from screen
Exec=/home/faulter/.local/bin/qrhandler decode
Icon=camera-photo
Terminal=false
Categories=Utility;
Keywords=qr;qrcode;scanner;decode;f5;
