[Desktop Entry]
Type=Application
Name=Wallpaper Theme Picker [Super+Shift+W]
Comment=Switch wallpaper and update dynamic themes
Exec=wall-picker
Icon=preferences-desktop-wallpaper
Terminal=false
Categories=Settings;
Keywords=wallpaper;theme;material;background;
