[Desktop Entry]
Type=Application
Name=Active Window Switcher [Alt+Space]
Comment=Search and focus running windows
Exec=winswitcher
Icon=preferences-system-windows
Terminal=false
Categories=System;
Keywords=window;switch;focus;alt-tab;
