[Desktop Entry]
Type=Application
Name=Quick Calculator [Super+Shift+C]
Comment=Interactive mathematical evaluator
Exec=quickcalc
Icon=accessories-calculator
Terminal=false
Categories=Utility;Calculator;
Keywords=calculator;calc;math;
