[Desktop Entry]
Type=Application
Name=Unmount Storage Drive [Super+F10]
Comment=Eject and unmount storage drive
Exec=/home/faulter/.local/bin/drivemount unmount
Icon=media-eject
Terminal=false
Categories=System;
Keywords=unmount;eject;drive;usb;f10;
