[Desktop Entry]
Type=Application
Name=QR Code Generator [Super+F5]
Comment=Generate QR code from text or clipboard
Exec=/home/faulter/.local/bin/qrhandler encode
Icon=camera-web
Terminal=false
Categories=Utility;
Keywords=qr;qrcode;encode;generate;f5;
